/*** About ***/
.About {
    display: flex;
    flex-direction: column;
    margin: 38px auto;

    @include mobile {
        margin: 20px auto;
    }

    &__banner {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        &::after {
            @include darken_banner
        }

        &_img {
            width: 86%;
            height: 223px;
            border-radius: 25px;
            object-fit: cover;

            @include mobile {
                height: 111px;
                border-radius: 10px;
            }
        }
    }

    &__collapse-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 71%;
        gap: 30px;
        margin: 38px auto 0;

        @include mobile {
            width: 86%;
            gap: 20px;
            margin: 20px auto 0;
        }
    }
}