/*** Error ***/
.Error {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0px auto 139px;

    @include mobile {
        margin: 0px auto 113px;
    }

    & h1 {
        color: $color-kasa-red;
        font-size: 288px;
        font-weight: 700;
        margin: 139px auto 0;

        @include mobile {
            font-size: 96px;
            margin: 113px auto 0;
        }
    }

    & h2 {
        color: $color-kasa-red;
        font-size: 36px;
        font-weight: 500;
        margin: 139px auto 0;

        @include mobile {
            max-width: 260px;
            margin: 113px auto 0;
            font-size: 18px;
        }
    }

    &__back-home {
        color: $color-kasa-red;
        font-size: 18px;
        font-weight: 500;
        text-decoration-line: underline;
        margin-top: 139px;

        @include mobile {
            margin-top: 113px;
            font-size: 14px;
        }
    }
}