/*** Card ***/
.Card {
    
    background-color: $color-white;
    height: 340px;
    border-radius: 10px;
    text-decoration: none;
    background-position: center;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: flex-end;
    overflow: hidden;

    @include mobile {
        width: 100%;
        height: 255px;
    }

    &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 50%;
        bottom: 0;
        left: 0;
        border-radius: 10px;
        background: linear-gradient(to bottom, transparent 10%, rgba(0, 0, 0, 0.5) 100%);
    }

    &__img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }

    &__title {
        z-index: 10;
        color: $color-white;
        margin: 0;
        font-size: 18px;
        font-weight: 500;
        position: absolute;
        bottom: 20px;
        left: 20px;
        right: 20px;

        @include mobile {
            bottom: 15px;
        }
    }
}